body {
  background: blanchedalmond;
}

div {
  border: 2px solid white;
}

.container {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
}



.a {
  flex-grow: 1;
  width: 100vw;
  height: 10vh;
}

.b {
  flex-grow: 4;
  width: 100vw;
  height: 80vh;
}

.c {
  flex-grow: 1;
  width: 100vw;
  height: 10vh;
}

@media(min-width:600px) {
  .b {
    height: 80vh;
    width: 85vw;
  }

  .c {
    height: 80vh;
    width: 10vw;
  }
}