body {
  background: papayawhip;
}

div {
  border: 1px solid white;
  background-color: ;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: blue;
}
.left-side{
  display:flex;
  background-color: black;
  width:100%;
  flex-wrap: wrap;
  height: 50%;
}
.a,
.b,
.f {
  width: 100%;
  background-color: aqua;
}

.c,
.d,
.e {
  width: 30%;
  background-color: aqua;
  flex-grow: 1;
}

.a {
  flex-grow: 1;
  height: 30%;
}

.b {
  flex-grow: 3;
}

.f {
  flex-grow: 1;
 height:30%;
}

@media(min-width: 600px) {
.left-side{
  width:76%;
  height:60%
}

  .b {
    width: 100%;
    /* height:60% */
    /* height: 30%; */
    flex-grow: 1;
    /* order:2; */
  }

  .c,
  .d,
  .e {
    width: 24.7%;
    /* height: 30%; */
    flex-grow:1;
  }

  .f {
    height: 60%;
    width: 23%;
    /* flex-grow:1; */
    /* order:3; */
  }

  .a {
    height: 40%;
    /* order:1; */
  }

  .c {
    /* order:4; */
  }

  .d {
    /* order:5; */
  }

  .e {
    /* order:6; */
  }
}